<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>NewStudentAdmissionRequest</display-name>
    <servlet-name>NewStudentAdmissionRequest</servlet-name>
    <servlet-class>com.campusconnect.controller.NewStudentAdmissionRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewStudentAdmissionRequest</servlet-name>
    <url-pattern>/NewStudentAdmissionRequest</url-pattern>
  </servlet-mapping>
  <display-name>CampusConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentProjectServlet</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSkillServlet</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentSkillServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentResumeServlet</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentAcademicServlet</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentAcademicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentApplicationServlet</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentApplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>com.campusconnect.controller.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentProjectServlet</servlet-name>
    <url-pattern>/studentProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/studentLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSkillServlet</servlet-name>
    <url-pattern>/studentSkill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentResumeServlet</servlet-name>
    <url-pattern>/studentResume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAcademicServlet</servlet-name>
    <url-pattern>/studentAcademic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentApplicationServlet</servlet-name>
    <url-pattern>/studentApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/studentRegister</url-pattern>
  </servlet-mapping>
</web-app>